@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

body{
  background: linear-gradient(to bottom right, #090809, #301b3f, #050505);
  background-repeat: no-repeat;
  z-index: -1;
  opacity: 0.9;
  min-height: 100vh;
  font-family: "Sora", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  
}

main{
   color:white;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.mainpage-text{
  text-align: center;
  padding: 1em;
}

